<section class="products-show">
  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">
    <%= image_tag @product.image.url, class: 'main-img' %>
    <div>
      <h1><%= @product.name %></h1>
      <p><%= @product.description %></p>
      <div class="quantity">
        <span><%= @product.quantity %> in stock at </span>
        <span><%= number_to_currency(@product.price, precision: 2) %></span>
      </div>
      <div class="price">          
        <%= button_to add_item_cart_path(product_id: @product.id), class: 'btn' , method: :post do %>
          <%= fa_icon "shopping-cart", text: 'Add' %>
        <% end %>          
      </div>
    </div>
  </article>
  <br/>

  <h1>Reviews</h1>
  <hr/>
  
  <%# Form to create new reviews %>
  <%= form_for [@product, @review] do |f| %>
    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.label :rating %>
    <%= f.select :rating, options_for_select([1, 2, 3, 4, 5]) %>

    <%= f.submit %>
  <% end %>

  <br/>

  <%# Show existing reviews %>
  <article>
    <% @reviews.each do |review| %>
      <div><h3>User: </h3> <span><%= review.user_id %></span></div>
      <div><h3>Rating: </h3> <span><%= review.rating %>/5</span></div>
      <p><%= review.description %></p>
      <hr/>
    <% end %>
  </article>

</section>
