<section class="products-show">
  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">
    <%= image_tag @product.image.url, class: 'main-img' %>
    <div>
      <h1><%= @product.name %></h1>
      <p><%= @product.description %></p>
      <div class="quantity">
        <span><%= @product.quantity %> in stock at </span>
        <span><%= number_to_currency(@product.price, precision: 2) %></span>
      </div>
      <div class="price">          
        <%= button_to add_item_cart_path(product_id: @product.id), class: 'btn' , method: :post do %>
          <%= fa_icon "shopping-cart", text: 'Add' %>
        <% end %>          
      </div>
    </div>
  </article>
  <br/>

  <h1>Reviews</h1>
  <hr/>
  
  <% if session[:user_id] %>
    <%# Form to create new reviews %>
    <div class="review-form>
      <%= form_for [@product, @review] do |f| %>
        <%= f.label :description, "Review" %>
        <%= f.text_area :description, class: "form-control" %>

        <%= f.label :rating %>
        <%= f.select :rating, options_for_select([1, 2, 3, 4, 5]), class: "form-control" %>

        <%= hidden_field_tag "review[product_id]", @product.id  %>

        <%= f.submit %>
      <% end %>
    </div>
  <br/>
  <% end %>

  <%# Show existing reviews %>
  <article class="reviews">
    <% @reviews.each do |review| %>
      <div class="review">
        <div class="head">
          <div class="single-line">
            <h3>User <%= review.user_id %></h3>
          </div>
          <div class="single-line">
            <h3>Rating:&nbsp;&nbsp;</h3>
            <span>  <%= review.rating %>/5</span>
          </div>
        </div>
        <hr/>
        <p><%= review.description %></p>
        <% if session[:user_id] == review.user_id %>
          <%= link_to "Delete", [@product, review], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
    <% end %>
  </article>

</section>
